{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h2>Quote</h2>
    <form action="/quote" method="post">
        <div class="form-group">
            <input id="locationTextField" autocomplete="off" autofocus class="form-control" name="symbol" placeholder="City" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Get a Weather</button>
    </form>

    <script>
        function init() {
			var options = { types: ['(cities)'] };
            var input = document.getElementById('locationTextField');
            var autocomplete = new google.maps.places.Autocomplete(input, options);
        }
        google.maps.event.addDomListener(window, 'load', init);
    </script>
{% endblock %}
